{
    "swagger": "2.0",
    "host": "getpocket.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v3",
    "info": {
        "version": "0.1.0",
        "title": "Pocket API"
    },
    "paths": {
        "/get": {
            "get": {
                "description": "Retrieving a User's Pocket Data.\n",
                "parameters": [
                    {
                        "name": "consumer_key",
                        "in": "query",
                        "description": "Your application's Consumer Key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "The user's Pocket access token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "Only return count number of items",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Used only with count;\nstart returning from offset position of results.\n",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/items"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "items": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "integer"
                },
                "list": {
                    "type": "object"
                }
            }
        }
    }
}